* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(img/hero.jpeg);
  /* 사진 반복 없앰 */
  background-repeat: no-repeat;
  /* 사진 화면에 꽉 채우기 */
  background-size: cover;
  /* 사진 밝기 50% */
  filter: brightness(50%);
}
.hero_content {
  position: absolute;
}
.hero_content h1 {
  color: #fff;
  font-size: 2.8rem;
  text-shadow: 2px 2px 2px #000;
}
.hero_content h2 {
  color: #fff;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 2px #000;
}
.hero_content a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  padding: 3px 20px 3px 20px;
  border: 1px solid orange;
  background-color: rgb(0, 0, 0, 0.6);
  font-size: 1.5rem;
  border-radius: 25px;
}
.header {
  /* 고정시킨다. */
  position: fixed;
  width: 100vw;
  top: 0;
  line-height: 70px;
}
.navbar {
  display: flex;
  background-color: rgb(0, 0, 0, 0.6);
  justify-content: space-around;
}
.navbar h1 {
  color: orange;
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px #000;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  padding: 3px 15px 3px 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
.phone a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 3px 15px 3px 15px;
  border: 1px solid orange;
}
